*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right, red,white,blue);
  /* rgb(0, 123, 255) */
}

.wrapper {
  padding: 10% 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0;
  color:goldenrod;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 3px 3px 3px black

}

.card {
  background-image: linear-gradient(to right, red,white,blue,)
  /* background-color:rgb(209, 207, 207); */
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: goldenrod;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
  border-style:solid;
  border-width: 7px;
  border-color:goldenrod;
}

.card-body {
  min-height: 150px;
}

.card-footer {
  text-align: center;
  margin-top: 30px;
}

.card-footer::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  border: none;
  background-color: goldenrod;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  padding: 14px 34px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: black;
}

button[disabled] {
  cursor: default;
  background: black
}

.float-right {
  float: right !important;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 20px;
  }

  #password {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 16px;
  }
}

@media (max-height: 200px) {
  .btn {
    font-size: 14px;
  }
}





/* *,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
    padding-top:  10%;
    padding-left: 10%;
    padding-right: 10%;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}


.card-body {
    min-height: 100px;
}

.card-footer {
    text-align: center;
}


.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #999ca0;
}

.float-right {
  float: right !important;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #999ca0;;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px)  {
  .btn {
    font-size: 0.8rem;
  }
}

@media (max-height: 200px) {
    .btn {
        font-size: 0.6rem; */